@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&family=Montserrat:wght@200;300;700&family=Poppins:wght@300;400;500;600&family=Rufina:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Mitr', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rufina', serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 10%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
